.multirenderer {
    display: table;
    table-layout: fixed;
    width: 100%;

    .col {
        vertical-align: top;
        display: table-cell;
        width: 50%;
    }

    .col-content {
        overflow-y: scroll;
        height: 500px;
    }

}

