.perseus-multirenderer {
    .columns(@numColumns) {
        display: table;
        table-layout: fixed;
        width: 100%;

        .col {
            display: table-cell;
            position: relative;
            vertical-align: top;
            width: 100% / @numColumns;
        }

        .col-content {
            overflow-y: scroll;
            height: 500px;
        }
    }

    &.two-column {
        .columns(2)
    }

    &.one-column {
        .columns(1)
    }

    .more-questions-container {
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;

        .more-questions {
            background: @satBlue;
            border-bottom: none;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: #fff;
            display: inline-block;
            line-height: 18px;
            opacity: 0;
            padding: 0 8px;
            transition: opacity .2s ease .1s;

            span {
                font-size: 12px;
                margin: 0 5px;
            }

            i {
                font-size: 9px;
            }

            &.show-label {
                opacity: 1;
            }
        }
    }
}

.question-button-container {
    display: inline-block;
    float: right;
}
